.component {
    width: 157px;
    height: 40px;
}

.component .overlap-group {
    position: relative;
    height: 40px;
}

.component .capa {
    position: absolute;
    width: 47px;
    height: 40px;
    top: 0;
    left: 0;
}

.component .group {
    position: absolute;
    width: 115px;
    height: 19px;
    top: 8px;
    left: 42px;
}

.element-eventos {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element-eventos .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1671px;
    position: relative;
}

.element-eventos .overlap {
    position: absolute;
    width: 900px;
    height: 45px;
    top: 61px;
    left: 78px;
}

.element-eventos .barra-de-opciones {
    position: absolute;
    width: 900px;
    height: 45px;
    top: 0;
    left: 0;
}

.element-eventos .navbar {
    position: relative;
    height: 42px;
}

.element-eventos .text-wrapper {
    left: 0;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    position: absolute;
    width: 150px;
    height: 42px;
    top: -1px;
    color: #3e083f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .text-wrapper-2 {
    left: 150px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    position: absolute;
    width: 150px;
    height: 42px;
    top: -1px;
    color: #3e083f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .particip {
    left: 300px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    position: absolute;
    width: 150px;
    height: 42px;
    top: -1px;
    color: #3e083f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .noticias {
    left: 450px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    position: absolute;
    width: 150px;
    height: 42px;
    top: -1px;
    color: #3e083f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .historias {
    left: 600px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    position: absolute;
    width: 150px;
    height: 42px;
    top: -1px;
    color: #3e083f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .con-cenos {
    left: 750px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    position: absolute;
    width: 150px;
    height: 42px;
    top: -1px;
    color: #3e083f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .line {
    position: absolute;
    width: 110px;
    height: 5px;
    top: 40px;
    left: 320px;
}

.element-eventos .overlap-group {
    position: absolute;
    width: 1440px;
    height: 52px;
    top: 0;
    left: 0;
    background-color: #4e1945;
}

.element-eventos .component {
    position: absolute;
    width: 157px;
    height: 40px;
    top: 10px;
    left: 641px;
}

.element-eventos .overlap-2 {
    position: absolute;
    width: 327px;
    height: 477px;
    top: 179px;
    left: 88px;
    background-color: #85296c;
}

.element-eventos .text-wrapper-3 {
    top: 157px;
    left: 49px;
    color: #ffffff;
    font-size: 80px;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .p {
    height: 54px;
    top: 281px;
    left: 49px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora {
    height: 24px;
    top: 356px;
    left: 82px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .span {
    text-decoration: underline;
}

.element-eventos .text-wrapper-4 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.element-eventos .lugar-centro {
    height: 48px;
    top: 385px;
    left: 82px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time {
    position: absolute;
    top: 80%;
    left: 50px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark {
    position: absolute;
    width: 18px;
    height: 26px;
    top: 90%;
    left: 50px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-group-2 {
    position: absolute;
    width: 327px;
    height: 239px;
    top: 417px;
    left: 445px;
    background-color: #4e1945;
}

.element-eventos .text-wrapper-5 {
    top: 7px;
    left: 80px;
    color: #ffffff;
    font-size: 70px;
    text-align: right;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-6 {
    height: 48px;
    top: 96px;
    left: 28px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-2 {
    height: 21px;
    top: 155px;
    left: 57px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .text-wrapper-7 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

.element-eventos .lugar-centro-2 {
    height: 42px;
    top: 185px;
    left: 57px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .img {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 75%;
    left: 27px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-2 {
    position: absolute;
    width: 16px;
    height: 23px;
    top: 90%;
    left: 28px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-3 {
    position: absolute;
    width: 327px;
    height: 239px;
    top: 686px;
    left: 88px;
    background-color: #b895c5;
}

.element-eventos .text-wrapper-8 {
    top: 9px;
    left: 75px;
    color: #4e1945;
    font-size: 70px;
    text-align: right;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-9 {
    height: 48px;
    top: 98px;
    left: 23px;
    color: #4e1945;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-3 {
    height: 21px;
    top: 157px;
    left: 52px;
    color: #4e1945;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .text-wrapper-10 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4e1945;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

.element-eventos .lugar-centro-3 {
    height: 42px;
    top: 187px;
    left: 52px;
    color: #4e1945;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time-2 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 75%;
    left: 22px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-3 {
    position: absolute;
    width: 16px;
    height: 23px;
    top: 88%;
    left: 23px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-4 {
    position: absolute;
    width: 327px;
    height: 404px;
    top: 955px;
    left: 88px;
    background-color: #263238;
}

.element-eventos .overlap-5 {
    position: absolute;
    width: 230px;
    height: 80px;
    top: 61px;
    left: 42px;
}

.element-eventos .text-wrapper-11 {
    position: absolute;
    width: 230px;
    height: 80px;
    top: 0;
    left: 0;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .overlap-6 {
    position: absolute;
    width: 247px;
    height: 54px;
    top: 185px;
    left: 42px;
}

.element-eventos .text-wrapper-12 {
    position: absolute;
    width: 247px;
    height: 54px;
    top: 0;
    left: 0;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
}

.element-eventos .overlap-7 {
    position: absolute;
    width: 146px;
    height: 24px;
    top: 260px;
    left: 75px;
}

.element-eventos .hora-4 {
    position: absolute;
    width: 146px;
    height: 24px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.element-eventos .overlap-8 {
    position: absolute;
    width: 226px;
    height: 48px;
    top: 289px;
    left: 75px;
}

.element-eventos .lugar-centro-4 {
    position: absolute;
    width: 226px;
    height: 48px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.element-eventos .icon-clock-time-3 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 71%;
    left: 45px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-4 {
    position: absolute;
    width: 18px;
    height: 26px;
    top: 80%;
    left: 46px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-9 {
    position: absolute;
    width: 589px;
    height: 462px;
    top: 686px;
    left: 445px;
    background-color: #b895c5;
}

.element-eventos .text-wrapper-13 {
    top: 148px;
    left: 63px;
    color: #4e1945;
    font-size: 80px;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-14 {
    height: 54px;
    top: 272px;
    left: 63px;
    color: #4e1945;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-5 {
    height: 24px;
    top: 347px;
    left: 96px;
    color: #4e1945;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .text-wrapper-15 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4e1945;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.element-eventos .lugar-centro-5 {
    height: 48px;
    top: 376px;
    left: 96px;
    color: #4e1945;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 80%;
    left: 66px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-5 {
    position: absolute;
    width: 18px;
    height: 26px;
    top: 88%;
    left: 67px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-10 {
    position: absolute;
    width: 585px;
    height: 181px;
    top: 1178px;
    left: 449px;
    background-color: #85296c;
}

.element-eventos .text-wrapper-16 {
    top: 34px;
    left: 26px;
    color: #ffffff;
    font-size: 80px;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-17 {
    height: 54px;
    top: 16px;
    left: 279px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-6 {
    height: 24px;
    top: 91px;
    left: 312px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .lugar-centro-6 {
    height: 48px;
    top: 120px;
    left: 312px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time-5 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 65%;
    left: 282px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-6 {
    position: absolute;
    width: 18px;
    height: 26px;
    top: 80%;
    left: 283px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-11 {
    position: absolute;
    width: 302px;
    height: 181px;
    top: 1178px;
    left: 1064px;
    background-color: #4e1945;
}

.element-eventos .text-wrapper-18 {
    height: 54px;
    top: 13px;
    left: 21px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-7 {
    height: 24px;
    top: 88px;
    left: 54px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .lugar-centro-7 {
    height: 48px;
    top: 117px;
    left: 54px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time-6 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 63%;
    left: 24px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-7 {
    position: absolute;
    width: 18px;
    height: 26px;
    top: 80%;
    left: 25px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-12 {
    position: absolute;
    width: 564px;
    height: 239px;
    top: 417px;
    left: 802px;
    background-color: #85296c;
}

.element-eventos .text-wrapper-19 {
    top: 71px;
    left: 7px;
    color: #ffffff;
    font-size: 80px;
    text-align: right;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-20 {
    height: 48px;
    top: 71px;
    left: 274px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-8 {
    height: 21px;
    top: 130px;
    left: 303px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .lugar-centro-8 {
    height: 42px;
    top: 160px;
    left: 303px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time-7 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 65%;
    left: 274px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-8 {
    position: absolute;
    width: 16px;
    height: 23px;
    top: 80%;
    left: 275px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-13 {
    position: absolute;
    width: 302px;
    height: 462px;
    top: 686px;
    left: 1064px;
    background-color: #263238;
}

.element-eventos .text-wrapper-21 {
    top: 60px;
    left: 36px;
    color: #ffffff;
    font-size: 80px;
    position: absolute;
    width: 230px;
    height: 80px;
    font-family: "Roboto Condensed-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-22 {
    height: 54px;
    top: 184px;
    left: 36px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    width: 247px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: 0;
}

.element-eventos .hora-9 {
    height: 24px;
    top: 259px;
    left: 69px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 146px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .lugar-centro-9 {
    height: 48px;
    top: 288px;
    left: 69px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    width: 226px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
}

.element-eventos .icon-clock-time-8 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 63%;
    left: 39px;
    transform: translate(-50%, -50%);
}

.element-eventos .icon-placemark-9 {
    position: absolute;
    width: 18px;
    height: 26px;
    top: 70%;
    left: 40px;
    transform: translate(-50%, -50%);
}

.element-eventos .overlap-14 {
    position: absolute;
    width: 1441px;
    height: 234px;
    top: 1437px;
    left: -1px;
}

.element-eventos .rectangle {
    position: absolute;
    width: 1440px;
    height: 230px;
    top: 3px;
    left: 1px;
    background-color: #b895c5;
}

.element-eventos .rectangle-2 {
    position: absolute;
    width: 1440px;
    height: 35px;
    top: 199px;
    left: 1px;
    background-color: #4e1945;
}

.element-eventos .text-wrapper-23 {
    position: absolute;
    width: 1440px;
    height: 35px;
    top: 198px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .capa {
    position: absolute;
    width: 170px;
    height: 160px;
    top: 0;
    left: 154px;
}

.element-eventos .capa-2 {
    position: absolute;
    width: 120px;
    height: 18px;
    top: 134px;
    left: 175px;
}

.element-eventos .component-2 {
    position: absolute;
    width: 25px;
    height: 95px;
    top: 77px;
    left: 435px;
}

.element-eventos .text-wrapper-24 {
    position: absolute;
    width: 192px;
    top: 33px;
    left: 435px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #4e1945;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .component-3 {
    position: absolute;
    width: 184px;
    height: 88px;
    top: 81px;
    left: 475px;
}

.element-eventos .text-wrapper-25 {
    position: absolute;
    width: 184px;
    height: 18px;
    top: -1px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4b1844;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-26 {
    width: 184px;
    top: 34px;
    position: absolute;
    height: 18px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4b1844;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .text-wrapper-27 {
    width: 184px;
    top: 69px;
    position: absolute;
    height: 18px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4b1844;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .component-4 {
    position: absolute;
    width: 25px;
    height: 95px;
    top: 78px;
    left: 741px;
}

.element-eventos .text-wrapper-28 {
    position: absolute;
    width: 192px;
    top: 33px;
    left: 741px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #4e1945;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .component-5 {
    position: absolute;
    width: 184px;
    height: 88px;
    top: 81px;
    left: 781px;
}

.element-eventos .line-2 {
    position: absolute;
    width: 2px;
    height: 98px;
    top: 75px;
    left: 1005px;
}

.element-eventos .text-wrapper-29 {
    position: absolute;
    width: 192px;
    top: 33px;
    left: 1047px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #4e1945;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.element-eventos .component-6 {
    position: absolute;
    width: 184px;
    height: 88px;
    top: 81px;
    left: 1047px;
}

.element-eventos .component-7 {
    position: absolute;
    width: 93px;
    height: 88px;
    top: 80px;
    left: 1194px;
}

.element-eventos .brave-violet {
    width: 93px;
    top: -1px;
    position: absolute;
    height: 18px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4b1844;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .brave-violet-2 {
    width: 93px;
    top: 34px;
    position: absolute;
    height: 18px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4b1844;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .brave-violet-3 {
    width: 93px;
    top: 69px;
    position: absolute;
    height: 18px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #4b1844;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-eventos .line-3 {
    position: absolute;
    width: 2px;
    height: 98px;
    top: 78px;
    left: 699px;
}

.element-eventos .eventos-importantes {
    position: absolute;
    width: 921px;
    top: 100px;
    left: 445px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 60px;
    letter-spacing: 0.6px;
    line-height: 65.3px;
    white-space: nowrap;
}

.element-eventos .text-wrapper-30 {
    color: #85296c;
    margin-right: -15px;
}

.element-eventos .text-wrapper-31 {
    color: #2d2d31;
    margin-right: -15px;
}
.element-eventos .text-wrapper-30 + .text-wrapper-31 {
    word-spacing: 20px; /* Ajusta el valor según sea necesario */
}
.element-eventos .text-wrapper-32 {
    position: absolute;
    width: 893px;
    top: 255px;
    left: 445px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #263238;
    font-size: 24px;
    letter-spacing: 0.24px;
    line-height: 38.1px;
}

.element-eventos .overlap-15 {
    position: absolute;
    width: 370px;
    height: 35px;
    top: 60px;
    left: calc(100% - 380px);
    border-radius: 30px;
}

.element-eventos .vector {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 6px;
    left: 330px;
}

.element-eventos .rectangle-3 {
    position: absolute;
    width: 370px;
    height: 35px;
    top: 0;
    border-radius: 30px;
    border: 2px solid;
    border-color: #4b1844;
}
